# 유무임 승하차 현황

In [3]:
import pandas as pd

In [8]:
# 데이터 로드
df = pd.read_csv('./서울시 지하철 호선별 역별 유_무임 승하차 인원 정보.csv', encoding='cp949')
df_group = pd.read_csv('./무임승차_대상별_현황_2016-2021.csv', encoding='cp949')

## 1. 데이터 확인 및 전처리

### 1. 서울시 지하철 호선별 역별 유_무임 승하차 인원 정보 전처리

In [5]:
df.head()

      사용월  호선명  지하철역   유임승차인원  무임승차인원   유임하차인원  무임하차인원      작업일자
0  202212  1호선   서울역  1350791  196523  1316828  187268  20230103
1  202212  1호선    시청   672846   96623   665583   93198  20230103
2  202212  1호선    종각   975925  150911   949944  141309  20230103
3  202212  1호선  종로3가   490967  309071   450017  287432  20230103
4  202212  1호선  종로5가   476315  247835   470710  238588  20230103

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57394 entries, 0 to 57393
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용월     57394 non-null  int64
 1   호선명     57394 non-null  object
 2   지하철역    57394 non-null  object
 3   유임승차인원  57394 non-null  int64
 4   무임승차인원  57394 non-null  int64
 5   유임하차인원  57394 non-null  int64
 6   무임하차인원  57394 non-null  int64
 7   작업일자    57394 non-null  int64
dtypes: int64(6), object(2)
memory usage: 3.5+ MB

### 2. 무임승차_대상별_현황_2016-2021 전처리

In [9]:
df_group.head()

,운영기관별(1),2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,운영기관별(1),계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,...,계,계,노인,노인,장애인,장애인,국가유공자,국가유공자,기타,기타
1,운영기관별(1),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),...,무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원),무임승차 (천명),무임비용 (백만원)
2,합계,431540,564065,345012,450692,80733,105766,5500,7233,296,...,380197,510236,315412,423193,60463,81260,3855,5168,467,615
3,서울교통공사,-,-,-,-,-,-,-,-,-,...,205748,278438,170771,231108,32868,44477,2109,2853,-,-
4,서울메트로,151738,206478,121979,165984,27736,37741,2023,2753,-,...,-,-,-,-,-,-,-,-,-,-

In [10]:
df_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 61 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   운영기관별(1)  18 non-null     object
 1   2016      18 non-null     object
 2   2016.1    18 non-null     object
 3   2016.2    18 non-null     object
 4   2016.3    18 non-null     object
 5   2016.4    18 non-null     object
 6   2016.5    18 non-null     object
 7   2016.6    18 non-null     object
 8   2016.7    18 non-null     object
 9   2016.8    18 non-null     object
 10  2016.9    18 non-null     object
 11  2017      18 non-null     object
 12  2017.1    18 non-null     object
 13  2017.2    18 non-null     object
 14  2017.3    18 non-null     object
 15  2017.4    18 non-null     object
 16  2017.5    18 non-null     object
 17  2017.6    18 non-null     object
 18  2017.7    18 non-null     object
 19  2017.8    18 non-null     object
 20  2017.9    18 non-null     object
 21  2018      18 non-null     object
 22  2018.1    18 non-null     object
 23  2018.2    18 non-null     object
 24  2018.3    18 non-null     object
 25  2018.4    18 non-null     object
 26  2018.5    18 non-null     object
 27  2018.6    18 non-null     object
 28  2018.7    18 non-null     object
 29  2018.8    18 non-null     object
 30  2018.9    18 non-null     object
 31  2019      18 non-null     object
 32  2019.1    18 non-null     object
 33  2019.2    18 non-null     object
 34  2019.3    18 non-null     object
 35  2019.4    18 non-null     object
 36  2019.5    18 non-null     object
 37  2019.6    18 non-null     object
 38  2019.7    18 non-null     object
 39  2019.8    18 non-null     object
 40  2019.9    18 non-null     object
 41  2020      18 non-null     object
 42  2020.1    18 non-null     object
 43  2020.2    18 non-null     object
 44  2020.3    18 non-null     object
 45  2020.4    18 non-null     object
 46  2020.5    18 non-null     object
 47  2020.6    18 non-null     object
 48  2020.7    18 non-null     object
 49  2020.8    18 non-null     object
 50  2020.9    18 non-null     object
 51  2021      18 non-null     object
 52  2021.1    18 non-null     object
 53  2021.2    18 non-null     object
 54  2021.3    18 non-null     object
 55  2021.4    18 non-null     object
 56  2021.5    18 non-null     object
 57  2021.6    18 non-null     object
 58  2021.7    18 non-null     object
 59  2021.8    18 non-null     object
 60  2021.9    18 non-null     object
dtypes: object(61)
memory usage: 8.7+ KB

## 2. 역별 유무임승차 비율 분석

## 3. 시각화